.main {
    max-width: 100%;
    overflow-x: hidden;
}

.header {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
  padding: 115px 25px 0px 25px;
  letter-spacing: -1.5px;
}

.header-container {
  background-color: #FFF292;
  background: url(./images/mountains.png);
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 280px;
}

.error-message {
  text-align: center;
  margin: 0;
}






